body {
  width: 600px;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

div#header {
  border-bottom: 2px solid #586e75;
  margin-bottom: 30px;
  padding: 12px 0px 12px 0px;
}

div#logo a {
  color: #586e75;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  font-family: 'UnifrakturMaguntia', cursive;
}

div#header #navigation {
  text-align: right;
}

div#header #navigation a {
  color: #2aa198;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

div#footer {
  border-top: solid 2px #586e75;
  color: #586e75;
  font-size: 0.6em;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
  text-align: right;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

div.info {
  color: #586e75;
  font-size: 0.8em;
  font-style: italic;
}

code, pre {
  font-family: 'Fira Mono', monospace;
}
