@use "pico" with (
    $theme-color: "purple",
    $enable-semantic-container: true,
    $enable-viewport: true,
    $enable-responsive-spacings: true,
    $enable-classes: false
);

section.info {
    text-align: end;
    margin: 2em 0;
}

span.footer-right {
    display: flex;
    justify-content: end;
}

details:hover > summary {
    background-color: var(--pico-primary-focus);
    color: var(--pico-contrast-color);
}

details > summary {
    width: fit-content;
    padding: 0.5rem;
    border: 1px solid var(--pico-primary);
    border-radius: 0.5rem;
}

details[open] > summary {
    font-weight: bold;
    background-color: var(--pico-primary-focus);
}

main {
    container-type: inline-size;
}

@container (inline-size >= 30em) {
    @supports (text-wrap: pretty) and (hyphenate-limit-chars: 10) {
        .content {
            text-align: justify;
            text-wrap: pretty;
            hyphenate-limit-chars: 10;
            hyphens: auto;
        }
    }
}

body {
    background: url("/images/8.jpg") hsl(0, 0%, 95%);
    background-size: contain;
    background-repeat: round;
    background-blend-mode: soft-light;
}

ul li ul {
    margin-top: 0px !important;
    list-style: none !important;
    text-align: right;
    li {
        display: inline-block;
        padding: 0 0.22rem;
        background-color: var(--pico-contrast-color);
    }
}
