// fonts
$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-monospace: "Space Mono", monospace;
$font-family-serif: "Gentium Book Plus", serif;

// links
$link-decoration: underline dotted;
$link-hover-decoration: underline solid;
