@import "colors";

$primary: $oxblood;
$secondary: $bronze;
$success: $teal;
$info: $teal;
$warning: $bronze;
$danger: $crimson;
$light: $off-white;
$dark: $gray;

// callouts
$callout-color-note: $info;
$callout-color-tip: $success;
$callout-color-caution: $warning;
$callout-color-warning: $warning;
$callout-color-important: $danger;

// body
$body-bg: desaturate(darken(mix($cream, $bronze, 85%), 28%), 20%);
$body-color: darken($oxblood, 10%);

// links
$link-color: mix($crimson, $body-color, 25%);
$link-hover-bg-color: shade(14%);

// navbar
$navbar-bg: $primary;
