@import "colors";

$primary: $oxblood;
$secondary: $bronze;
$success: $teal;
$info: $teal;
$warning: $bronze;
$danger: $crimson;
$light: $off-white;
$dark: $gray;

// callouts
$callout-color-note: $info;
$callout-color-tip: $success;
$callout-color-caution: $warning;
$callout-color-warning: $warning;
$callout-color-important: $danger;

// body
$body-bg: darken($beige, 30%);
$body-color: darken($oxblood, 10%);

// links
$link-color: darken($body-color, 10%);
$link-hover-bg-color: darken($body-bg, 20%);

// navbar
$navbar-bg: $primary;
