@import "colors";

$primary: $crimson;
$secondary: $bronze;
$success: $teal;
$info: $teal;
$warning: $bronze;
$danger: $crimson;
$light: $off-white;
$dark: $gray;

// body
$body-bg: lighten($cream, 10%);
$body-color: $oxblood;

// links
$link-color: darken($body-color, 10%);
$link-hover-bg-color: darken($body-bg, 20%);

// navbar
$navbar-bg: $primary;