@import "base";

/* main colors */
main {
    a:hover {
        background-color: $link-hover-bg-color;
    }
}

/* publication listings */
ul.papers.list,
ul.talks.list {
    li {
        margin: 0.25rem 0;
    }

    .listing-name {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }

    .listing-authors,
    .listing-venue,
    .listing-proceedings {
        margin-bottom: 0.25rem;
    }

    .listing-links {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            text-align: center;
            min-width: 4rem;
            background-color: darken($body-bg, 10%);
            border-radius: 0.5rem;

            a {
                display: block;
                font-size: 0.9rem;
                padding: 0.25rem 0.5rem;
                border-radius: 0.5rem;
                text-decoration: none;
            }
        }
    }
}

/* fix for sidebar z-index */
#quarto-margin-sidebar {
    z-index: 0 !important;
}

/* font assignments */
.navbar {
    font-family: $navbar-font-family;
}

#TOC {
    font-family: $toc-font-family;
}

.nav-footer {
    font-family: $footer-font-family;
}

/* justified text */
main {
    container-type: inline-size;
}

@container (inline-size >=20em) {
    @supports (text-wrap: pretty) and (hyphenate-limit-chars: 10) {
        blockquote,
        p {
            text-align: justify;
            text-wrap: pretty;
            hyphens: auto;
            hyphenate-limit-chars: 10 3 4;
            hyphenate-limit-lines: 2;
            hyphenate-limit-last: always;
            hyphenate-limit-zone: 8%;
        }
    }
}
