<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Vikraman Choudhury | $title$</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merriweather|Roboto+Mono|UnifrakturMaguntia"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/node_modules/hyphenopoly/min/Hyphenopoly_Loader.js"></script>
    <script>
      Hyphenopoly.config({
        require: {
          "en-us": "Supercalifragilisticexpialidocious",
        },
        setup: {
          selectors: {
            ".content": {},
          },
        },
      });
    </script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><strong>Vikraman Choudhury</strong></li>
        </ul>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>$body$</main>
    <footer>
      <span class="footer-right">
        <small>
          Site
          <a href="https://github.com/vikraman/site">built</a>
          using
          <a href="https://jaspervdj.be/hakyll">Hakyll</a>
          and
          <a href="https://picocss.com/">Pico</a>
        </small>
      </span>
    </footer>
  </body>
</html>
