<details name="news">
  <summary>News</summary>
  <p>$news$</p>
</details>
<details name="papers">
  <summary>Papers</summary>
  <section>
    <details name="publications">
      <summary>Publications</summary>
      <p>$pubs$</p>
    </details>
    <details name="drafts">
      <summary>Drafts</summary>
      <p>$drafts$</p>
    </details>
    <details name="notes">
      <summary>Notes</summary>
      <p>$notes$</p>
    </details>
    <details name="theses">
      <summary>Theses</summary>
      <p>$theses$</p>
    </details>
  </section>
</details>
<details name="talks">
  <summary>Talks</summary>
  <p>$talks$</p>
</details>
<details name="teaching">
  <summary>Teaching</summary>
  <p>$teaching$</p>
</details>
<details name="about">
  <summary>About</summary>
  <p>$about$</p>
</details>
<section class="info">
  <aside class="contact">
    <div>Email: <a href="mailto:$email2$">$email2$</a></div>
    <div>Personal email: <a href="mailto:$email1$">$email1$</a></div>
    <div>Pronouns: he/them</div>
  </aside>
  <aside class="address">
    <div>Dipartimento di Informatica - Scienza e Ingegneria</div>
    <div>Mura Anteo Zamboni 7</div>
    <div>40126 Bologna BO</div>
    <div>Italy</div>
  </aside>
  </details>
</section>